.body {
	max-width: 100%;
	margin: .5% 0;
	background-color: #d4d4d4;
}

body {
	background: #d1f1ff;
}

p.center {
	text-align: center;
	font-size: 2em;
	font-family: Verdana;
}

p.time {
	width: 40%;
	float: right;
	min-height: 40px;
	text-align: right;
	padding: 1.3%;
	font-family: Verdana;
}

p.title {
	width: 60%;
	float: left;
	text-align: right;
    font-family: 'Galindo', cursive;
	font-size: 2.5em;
	min-height: 10px;
	padding-top: 1%;
	/*padding-left: 1%;*/
}

p.adventure {
	text-align: center;
	font-size: 1.4em;
	font-family: 'Galindo', cursive;
}

div.slideshow {
	width: 50%;
	margin: 1% 25%;
}

div.personalPhoto {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 20%;
	float: left;
	margin: 1% 2%;
	border: 1px solid black;	
}

div.packers {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 27%;
	float: right;
	margin: 1% 2%;
	border: 1px solid black;	
}

.item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 2px solid black;	
}

img.packPhoto {
	width: 100%; 
}

div.personalPhoto:hover {
	-ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

div.packers:hover {
	-ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

#the-gal {
	width: 100%;
}

#allPhotos {
	max-width: 100%; 
}

li.last {
	padding-right: 1.8%; 
}


a.assignment {
	color: black;
}

a.assignment:hover {
	font-size: 1.05em;
	color: #e8125a;
}

ul.assign {
	list-style-type: circle;
}

.photoItems {
	width: 40%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10% 0 10% 3%;
}

.photos1 {
	width: 35%;
}

.assignments {
	font-family: Verdana;
	font-size: 1.3em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1% 37% 1% 39%;
	padding: 1%;
	border: 3px solid black;
	border-radius: 6px;
	background: #f9f9f9;
}

.border {
	border: 1px solid black;
	text-align: center;
	font-size: 1.5em;
	font-family: Verdana;
	background: #f9f9f9;
}

.full {
	width: 100%;
}

.active1 {
	color: black;
}

.active1:hover {
	color: red;
}


.breadcrumb {
	width: 100%;
	text-align: right;
	font-family: Verdana;
	border-bottom: 3px solid black;
	border-radius: 1%; 
}

.container {
	width: 100%;
	padding: 0;	
}