p.itemHat {
	width: 75%;
	/*float: left;*/
}

.totalItems {
	width: 100%;
}

div.quantity {
	float: right;
	margin: 7% 2%;
	width: auto;
}

#emptyCart {
	text-align: center;
	font-size: 1.5em;
	margin: 10%;
}

#quan {
	/*padding: 4% 0;*/
}

.shared {
	/*width: 100%;*/
	text-align: left;
	border: 2px solid black;
	border-radius: 3px;
	padding: 1.5%;
	width: 50%;
	margin: .5% 25%;
}

button.addCart {
	float: right;
	margin: 8% 4%;
	background-color: #60a5f7;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button.addCart:hover {
    opacity: 0.85;
}

button.removeCart {
	float: right;
	margin: 8% 4%;
	background-color: #ee6767;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    border: none; 
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button.removeCart:hover {
    opacity: 0.85;
}


h3 {
	text-align: center;
	margin: 1.5%;
}