body {
	background: #442C2C; 
	border: 5px solid #c3a2a2; 
	margin: 15px; 
	padding: .5%; 
	border-radius: 13px;
}

p.white {
	color: white;
	/*margin-right: auto;
	margin-left: auto;*/
	width: 30%;
	font-size: 1.12em;
	font-family: Verdana;
	float: right;	
}

img.center {
    display: block;
    margin: auto 30%; 
    margin-right: auto;
    width: 40%;
    overflow: hidden;
    height: 2%; 
}

p.def {
	color: white;
	/*margin: 1% 0 1% 35%;*/
  margin-left: 28%;
  margin-right: 15%;
  width: 35%;
  float: left;
	font-size: .85em;
	font-family: Tahoma "Times New Roman";
}

#banner {
	border-bottom: 5px solid #c3a2a2;
  min-height: 180px; 
	padding-bottom: .5%; 
	border-radius: 5px;
  width: 100%;
}

div.rb_photo {
	width: 10%;
	margin: 1% 0 1% 35%;
	float: left;
	clear: both;
}

div.row {
	/*width: 100%;*/
	/*background-color: #5b3a3a;
	border: 4px solid #c3a2a2; 
	border-radius: 13px; 
	padding: .8%;
	margin: 3% 25%;*/
}

div.rb_item {
	width: 15%;
	margin: 3% 35% 3% 0;
	float: right;
	background-color: #5b3a3a;
	border: 4px solid #c3a2a2; 
	border-radius: 13px; 
	padding: .8%;	  
}








div.rbItem {
	background-color: #5b3a3a;
	border: 4px solid #c3a2a2; 
	border-radius: 13px; 
	padding: .8%;
	margin: 1% 37%;
	min-height: 200px;
}

#rbPhoto {
	/*width: 22%;*/
	max-height: 180px;
	max-width: 70px;
	float: left;
	margin: 1% 1% 4% 3%;
}

#rbName {
  color: white;
  /*margin-left: 12%;*/
	/*width: 70%;
	float: right;
	color: white;
	font-size: 1.1em;
	font-family: Verdana;
	text-align: center;
	margin: 25% 1%;*/
	/*clear: both;*/
}

div.infoDiv {
  margin: 15% 1% 1% 4%;
  width: 80%;
  font-family: Verdana;
  text-align: center;    
  /*width: 70%;
  float: right;
  color: white;
  font-size: 1.1em;
  font-family: Verdana;
  text-align: center;
  margin: 15% 1% 1% 4%;
  background: yellow;*/
}

.hidden1 {
	display: none;
  text-align: center;
  color: red;
}

#loaded_rb {
	white-space: pre-line;
	font-family: Verdana;
}

#dialog-form { 
	/*background: #c3a2a2;*/
}

button.view_rb {
	background: #ececec;
  /*float right;*/
  /*clear: both;*/
  /*margin-left: 50%;*/
}




.fa {
  padding: 20px;
  font-size: 30px;
  max-width: 60px;
  /*height: auto;*/
  text-align: center;
  text-decoration: none;
  /*float: right;*/
  border-radius: 50%;
  margin: 5px 2px;
  /*margin: 60px 5px 0 2px;*/
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  /*width: 50px;*/
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  /*width: 50px;*/
  /*height: 80px;*/
}

#shadow {
	/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}



label, input { 
	display:block; 
}

input.text { 
	margin-bottom:12px; 
	width:95%; 
	padding: .4em; 
}

.input1 {

}

fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px; 
}

h1 { font-size: 1.2em; margin: .6em 0; }

div#users-contain { 
	width: 350px; 
	margin: 20px 0; 
}

div#users-contain table { 
	margin: 1em 0; 
	border-collapse: collapse; 
	width: 100%; 
}

div#users-contain table td, div#users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}

.ui-dialog .ui-state-error { 
	padding: .3em; 
}

.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}

.ui-dialog-titlebar {
      background: #c3a2a2;
}

.ui-dialog {
	background: #efefef;
}

.ui-dialog-buttonpane {
	background: #c3a2a2;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 20% 30%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}















/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button.login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
    float: left;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#registerbtn {
    background-color: #6396ef;
    float: right;    
}

#signOffbtn {
    background-color: #ea12e7;
    float: right;
    margin-left: 2%;     
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

button.btnRemove {
  font-size: 5px; 
  color: red;
  /*max-height: 40px;*/
  /*max-width: 50%;
  max-height: 20%;*/
}

.fa fa-trash {
  /*background: purple;*/
  /*float: left;*/
}

/* The Modal (background) */
.modal {
	font-family: Verdana;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

button.log-click {
	float: left;
	margin: 1% 0 2% 1%;
  /*padding-top: 25px;*/
	border-radius: 3px;	
}

#cont-1 {
	background-color: #f1f1f1;
  min-height: 90px;
}

#current_user {
	float: left;
	font-family: Verdana;
	color: white;
	text-align: right;
}

.container_message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.comment_box {
	width: 80%;
	margin: auto 5%;
}

button.sendComment {
  margin: 1% 8%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 30%;
  border: none;
  cursor: pointer;  
}

.delComment {
  clear: both; 
  margin: 1% 0; 
  /*width: 1%;*/
  /*float: right;*/
}

button.delBtn {
  /*clear: both;*/
  max-width: 50px;
  max-height: 40px;
}

.material-icons {
  float: left;
}

span.socialButtons {
  display: inline; 
  float: right; 
  /*margin-left: 23%;*/
  /*margin-right: 1%;*/
}