body {
	background: #442C2C; 
	border: 5px solid #c3a2a2; 
	margin: 15px; 
	padding: .5%; 
	border-radius: 13px;
}

p.white {
	color: white;
	/*margin-right: auto;
	margin-left: auto;*/
	width: 30%;
	font-size: 1.12em;
	font-family: Verdana;
	float: right;	
}

img.center {
    display: block;
    margin: auto 30%; 
    margin-right: auto;
    width: 40%;
    overflow: hidden;
    height: 2%; 
}

p.def {
	color: white;
	margin: 1% 35%;
	font-size: 1em;
	font-family: Tahoma "Times New Roman";
}

#banner {
	border-bottom: 5px solid #c3a2a2; 
	padding-bottom: .5%; 
	border-radius: 5px;
}

div.rb_photo {
	width: 10%;
	margin: 1% 0 1% 35%;
	float: left;
	clear: both;
}

div.row {
	/*width: 100%;*/
	/*background-color: #5b3a3a;
	border: 4px solid #c3a2a2; 
	border-radius: 13px; 
	padding: .8%;
	margin: 3% 25%;*/
}

div.rb_item {
	width: 15%;
	margin: 3% 35% 3% 0;
	float: right;
	background-color: #5b3a3a;
	border: 4px solid #c3a2a2; 
	border-radius: 13px; 
	padding: .8%;	  
}








div.rbItem {
	background-color: #5b3a3a;
	border: 4px solid #c3a2a2; 
	border-radius: 13px; 
	padding: .8%;
	margin: 1% 37%;
	min-height: 200px;
}

#rbPhoto {
	/*width: 22%;*/
	max-height: 180px;
	max-width: 70px;
	float: left;
	margin: 1% 1% 2% 3%;
}

#rbName {
	width: 70%;
	float: right;
	color: white;
	font-size: 1.1em;
	font-family: Verdana;
	text-align: center;
	margin: 25% 1%;
	/*clear: both;*/
}

.hidden1 {
	display: none;
}

#loaded_rb {
	white-space: pre-line;
	font-family: Verdana;
}






.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  height: auto;
  text-align: center;
  text-decoration: none;
  float: right;
  border-radius: 60%;
  margin: 60px 5px 0 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

#shadow {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



label, input { 
	display:block; 
}

input.text { 
	margin-bottom:12px; 
	width:95%; 
	padding: .4em; 
}

fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px; 
}

h1 { font-size: 1.2em; margin: .6em 0; }

div#users-contain { 
	width: 350px; 
	margin: 20px 0; }

div#users-contain table { 
	margin: 1em 0; 
	border-collapse: collapse; 
	width: 100%; 
}

div#users-contain table td, div#users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}

.ui-dialog .ui-state-error { 
	padding: .3em; 
}

.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}